<mat-card class="ticket-card" *ngFor="let ticket of tickets">
  <mat-card-header>
    <mat-card-title> 
      <h4>{{ticket.title}}</h4>   
    </mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://unsplash.it/50/30"> -->
  <mat-card-content>
    <p> Desc:  {{ticket.description}}</p>
    <p> Points:  {{ticket.points}}</p>
    <p> Owner:  {{ticket.owner}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="done">Update</button>
    <button mat-raised-button class="done">Done</button>
  </mat-card-actions>
</mat-card>