<form #ticketForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Title" type="text" name="title" ngModel>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Description" type="text" name="description" ngModel>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Points" type="text" name="points" ngModel>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Owner" type="text" name="owner" ngModel>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select #teamSelect placeholder="Team" multiple (selectionChange)="changeHandler($event)">
        <mat-option *ngFor="let team of teamList" [value]="team">{{team}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit">Submit</button>
</form>